body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
}

#info {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px;
  z-index:100;
  text-align:center;
  color: #ffffff;
}

#info a{
  color: orange;
  font-weight: bold;
  text-decoration: none;
}